.classification {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #999999;

  .classItem {
    margin: 20rpx;

    .itemTitle {
      height: 100rpx;
      background-color: #E1E1E1;
      padding: 20rpx;
    }
    .itemDesc {
      height: 30rpx;
      background-color: #FFFFFF;
      text-align: center;
      font-size: 20rpx;
      padding: 0rpx 15rpx;
      color: #E1E1E1;
    }
  }
}
