.shuchuang {
  width: 100%;
  overflow: hidden;
  position: relative;

  .home_banner {
    width: 100%;
    margin-top: 10rpx;

    img {
      width: 100%;
      height: 300rpx;
    }
  }

  .home_icon {
    width: 100%;
    display: flex;
    background-color: white;
    margin-top: 20rpx;

    navigator {
      flex: 1;
      text-align: center;

      img {
        height: 66rpx;
        width: 66rpx;
        margin: auto;
        display: block;
      }

      span {
        display: block;
        font-size: 30rpx;
      }
    }
  }

  .bookType {
    margin-top: 23rpx;

    .book_list {
      display: flex;
      margin: 10rpx;
    }
    .book_img {
      width: 200rpx;
      height: 250rpx;
      margin-right: 20rpx;
    }
    .book_content {
      flex: 1;
      margin: auto 0rpx;

      .title {
        color: #444444;
        font-size: 38rpx;
        font-weight: 400;
        margin-top: 20rpx;
        margin-bottom: 30rpx;
      }
      .introduction {
        color: #999999;
        font-size: 22rpx;
      }
      .desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30rpx;

        img {
          width: 25rpx;
          height: 25rpx;
        }

        .descText{
          display: flex;
          justify-content: center;
          align-items: center;

          .auther {
            color: #999999;
            font-size: 22rpx;
          }
          .state {
            margin: 0rpx 5rpx;
            font-size: 18rpx;
            padding: 3rpx 5rpx;
            border:2px solid #dddddd;
            background:#dddddd;
            border-radius:10px;
          }
        }
      }
    }
  }

  .head {
    text-align: left;
    padding: 40rpx 20rpx 26rpx 20rpx;

    .more {
      float: right;
    }
  }
}
